@import "../../Styles/mixin.scss";
@import "../../Styles/vars.scss";

header {
  @include col;

  div.me {
    @include row;
    gap: 5px;
    align-items: center;

    h1 {
      font-weight: 900;
      font-size: 50px;
    }

    a {
      @include link;
      font-weight: 500;
      margin-top: 5px;
      font-size: 18px;
      transition: $main_transition;

      &:hover {
        color: lighten($color: $main_font_color, $amount: 50);
        text-decoration: underline;
      }
    }
  }

  p {
    font-weight: 400;
    font-size: 21px;
    letter-spacing: 1.8px;
  }
}
