@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin col {
  display: flex;
  flex-direction: column;
}

@mixin link {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

@mixin center {
  display: grid;
  place-items: center;
}
