@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin col {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

@mixin link {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
