@import "../../Styles/vars.scss";
@import "../../Styles/mixin.scss";

section.about {
  background-color: $main_gray_color;
  @include row;
  height: max-content;
  border-radius: 10px;

  p {
    font-size: 18px;
    word-spacing: 10px;
    line-height: 30px;
    padding: 0 0 5px 15px;

    img#me {
      float: right;
      width: 200px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border: 7px solid #fff;
      border-top: none;
      border-right: none;
      user-select: none;
    }
  }
}
