@import "../Styles/vars.scss";
@import "../Styles/mixin.scss";

* {
  margin: 0;
  padding: 0;
  color: $main_font_color;
}

body {
  font-family: $main_font_family;
  padding: 20px 0;
  width: 900px;
  margin: auto;
}

section {
  margin: 50px 0;
}
